.header .top-strip {
    background: #6d4aae;
    padding: 8px 0;
}

.header .top-strip p {
    text-align: center;
    color: #fff;
    font-size: 13px;
    margin: 0 !important;
}

.header .main-header {
    width: 100%;
    height: auto;
    padding: 20px 0;
}


.header .main-header .logo img {
    width: 100%;
}


.header .main-header .option {
    display: flex;
    align-items: center;
    gap: 15px;
}
