.country-dropdown{
    width: 150px;
    min-width: 150px;
    color: #000 !important;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 7px !important;
    padding: 10px 20px !important;
}

.country-dropdown .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    
}

.country-dropdown .info span{
    font-size: 12px !important;
    text-transform: capitalize !important;
    line-height: 16px;
}

.country-dropdown .info .label {
    color: rgba(0, 0, 0, 0.5) !important;
}

.country-dropdown .info .name {
    color: #233a95;
    font-weight: 700;
}

.country-dropdown .ml-auto svg{
    opacity: 0.6 !important;
}