@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato", sans-serif;
}

::-webkit-scrollbar{
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar-thumb{
    background: #ccc !important;
}
::-webkit-scrollbar-track{
    background: transparent !important;
}

a{
    text-decoration: none !important;
}

/* img{
    width: 100%;
} */

ul{
    list-style: none;
    margin: 0 !important;
}

@media(min-width:1300px){
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xm{
        max-width: 1280px !important;
    }
}